:root {
    --c1 : #05386B;
}
.card.card-flip {
    border: 0px;
}
.grid-tarjetas {
    position: relative;
    margin: 50px auto;
    background-image: url("../media/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card-flip {
    height: 400px;
}
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    height: 380px;
    margin: 10px;
    display: flex;
}
.card-flip > div.card-back {
    width: 100%;
    height: 380px;
}
.card-front {
    transform: rotateY(0deg);
    position: absolute;
    top: 0;
    width: 98%;
}
.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}
.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}
.card-flip:hover .card-back {
    transform: rotateY(0deg);
}
.adelante,
.atras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.adelante {
    width: 100%;
}
.atras {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    text-align: center;
    color: #fff;
    font-family: "open sans";
    background: var(--c1);
}
.card-body.atras {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);

    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    text-align: center;
    color: #fff;
    font-family: "open sans";
    background: var(--c1);
}
.card1 {
  background-image: url("../media/pinguino.jpg");
  background-size: cover;
}
.card2 {
  background-image: url("../media/inundaciones.jpg");
  background-size: cover;
}
.card3 {
  background-image: url("../media/sequias.jpg");
  background-size: cover;
}
.card4 {
  background-image: url("../media/huracan.jpg");
  background-size: cover;
}